[Desktop Entry]
Version=1.0
Name=Eskacoin 
Comment=Eskacoin P2P Cryptocurrency
Comment[fr]=Eskacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eskacoin, eşten eşe kriptografik sanal para birimi
Exec=eskacoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/eskacoin;
Categories=Office;Finance;
StartupWMClass=eskacoin-qt
