[Desktop Entry]
Version=1.0
Name=MobilityCoin 
Comment=MobilityCoin P2P Cryptocurrency
Comment[fr]=MobilityCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MobilityCoin, eşten eşe kriptografik sanal para birimi
Exec=mobic-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/mobic;
Categories=Office;Finance;
StartupWMClass=mobic-qt
