[Desktop Entry]
Version=1.0
Name=Suvereno 
Comment=Suvereno P2P Cryptocurrency
Comment[fr]=Suvereno, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Suvereno, eşten eşe kriptografik sanal para birimi
Exec=suvereno-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/suvereno;
Categories=Office;Finance;
StartupWMClass=suvereno-qt
