[Desktop Entry]
Version=1.0
Name=Kyanite
Comment= KYAN P2P Cryptocurrency
Comment[fr]= KYAN, monnaie virtuelle cryptographique pair à pair
Comment[tr]= KYAN, eşten eşe kriptografik sanal para birimi
Exec=kyanite-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Kyanite-qt
