[Desktop Entry]
Version=1.0
Name=Beacon
Comment= BECN P2P Cryptocurrency
Comment[fr]= BECN, monnaie virtuelle cryptographique pair à pair
Comment[tr]= BECN, eşten eşe kriptografik sanal para birimi
Exec=beacon-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Beacon-qt
