[Desktop Entry]
Version=1.0
Name=Ultra Clear 
Comment=Ultra Clear P2P Cryptocurrency
Comment[fr]=Ultra Clear, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ultra Clear, eşten eşe kriptografik sanal para birimi
Exec=ucr-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/ucr;
Categories=Office;Finance;
StartupWMClass=ucr-qt
