[Desktop Entry]
Version=1.0
Name=UltraClear 
Comment=UltraClear P2P Cryptocurrency
Comment[fr]=UltraClear, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UltraClear, eşten eşe kriptografik sanal para birimi
Exec=ultraclear-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/ultraclear;
Categories=Office;Finance;
StartupWMClass=ultraclear-qt
