.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe

# DSW
src/__decenomy__
src/__decenomy__d
src/__decenomy__-cli
src/__decenomy__-tx
src/bench/bench___decenomy__
src/test/test___decenomy__
src/qt/test/test___decenomy__-qt

# Sapphire
src/bench/bench_sapphire
src/sapphire-cli
src/sapphire-tx
src/sapphired
src/qt/sapphire-qt
src/test/test_sapphire
src/qt/test/test_sapphire-qt

# Kyanite
src/bench/bench_kyanite
src/kyanite-cli
src/kyanite-tx
src/kyanited
src/qt/kyanite-qt
src/test/test_kyanite
src/qt/test/test_kyanite-qt

# Jackpot
src/bench/bench_jackpot
src/jackpot-cli
src/jackpot-tx
src/jackpotd
src/qt/jackpot-qt
src/test/test_jackpot
src/qt/test/test_jackpot-qt

# Dash Diamond
src/bench/bench_dashdiamond
src/dashdiamond-cli
src/dashdiamond-tx
src/dashdiamondd
src/qt/dashdiamond-qt
src/test/test_dashdiamond
src/qt/test/test_dashdiamond-qt

# CryptoFlow
src/bench/bench_cryptoflow
src/cryptoflow-cli
src/cryptoflow-tx
src/cryptoflowd
src/qt/cryptoflow-qt
src/test/test_cryptoflow
src/qt/test/test_cryptoflow-qt

# Trittium
src/bench/bench_trittium
src/qt/test/test_trittium-qt
src/qt/trittium-qt
src/test/test_trittium
src/trittium-cli
src/trittium-tx
src/trittiumd

# Aezora
src/bench/bench_aezora
src/qt/test/test_aezora-qt
src/qt/aezora-qt
src/test/test_aezora
src/aezora-cli
src/aezora-tx
src/aezorad

# Beacon
src/bench/bench_beacon
src/qt/test/test_beacon-qt
src/qt/beacon-qt
src/test/test_beacon
src/beacon-cli
src/beacon-tx
src/beacond

# Peony
src/bench/bench_peony
src/qt/test/test_peony-qt
src/qt/peony-qt
src/test/test_peony
src/peony-cli
src/peony-tx
src/peonyd

# CryptoSaga
src/bench/bench_cryptosaga
src/qt/test/test_cryptosaga-qt
src/qt/cryptosaga-qt
src/test/test_cryptosaga
src/cryptosaga-cli
src/cryptosaga-tx
src/cryptosagad

# Monk
src/bench/bench_monk
src/qt/test/test_monk-qt
src/qt/monk-qt
src/test/test_monk
src/monk-cli
src/monk-tx
src/monkd

# Suvereno
src/bench/bench_suvereno
src/qt/test/test_suvereno-qt
src/qt/suvereno-qt
src/test/test_suvereno
src/suvereno-cli
src/suvereno-tx
src/suverenod

# Eskacoin
src/bench/bench_eskacoin
src/qt/test/test_eskacoin-qt
src/qt/eskacoin-qt
src/test/test_eskacoin
src/eskacoin-cli
src/eskacoin-tx
src/eskacoind

# UltraClear
src/bench/bench_ultraclear
src/qt/test/test_ultraclear-qt
src/qt/ultraclear-qt
src/test/test_ultraclear
src/ultraclear-cli
src/ultraclear-tx
src/ultracleard

##########################################
# clear this section when it's fixed
###
src/bench/bench_pivx
src/qt/test/test_pivx-qt
src/test/test_pivx
##########################################

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/*-config.h
src/config/*-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.pivx
.__decenomy__
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
pivx-qt
__decenomy__-qt
Jackpot-Qt.app
background.tiff*

# Rust
.cargo/.configured-for-*
.cargo/config
target/

# Unit-tests
Makefile.test
pivx-qt_test
__decenomy__-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_pivx.coverage/
test___decenomy__.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
cache/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
CMakeLists.txt
cmake-build-debug

moc_*
*.tmp
ui_*
build*
pivxd.*
__decenomy__d.*
pivxd-new-gui.*
__decenomy__d-new-gui.*

# for Visual Studio Code

.vscode/*
